/** NORMALIZE **/
@import "_normalize";
@import "_mixins";

/** FONT **/
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

html {
    font-family: "Archivo Black", sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

/** STYLES **/ 
@import "./styles/landing";
@import "./styles/homepage";
@import "./styles/portfolio";
@import "./styles/contact";

.hide {
    opacity: 0;
    height: 0;
    display:none;
}
.hidden {
    display: none;
    opacity: 0;
}
